{% extends 'Base.html' %}

{% block title %}Our Employees{% endblock %}

{% block main %}

<h1 id="welcome">Our employees:</h1>

{% if message %}
<h2>{{ message }}</h2>
{% endif %}

<div>
    <div>
        <h1>Insert Form</h1>
        <p>
        <form action="/assignment_4/insertEmp" method="post">
            <input type="text" name="name" placeholder="Insert Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="nickname" placeholder="Insert nickname" required>
            <input type="password" name="password" placeholder="Insert password" required>
            <input type="submit">
        </form>
        </p>
    </div>
    <div>
        <h1>JSON</h1>
        <p>
            <button id="json"><a href="/assignment_4/users">Get as JSON</a></button>
        </p>
    </div>
    <div>
        <h1>Get employee</h1>
        <div>
            <h2>Outer Source Form (Front)</h2>
            <form>
                <input type="number" name="id" placeholder="Insert ID (1-12)" max="12" min="0" required>
                <input type="submit">
            </form>
        </div>
    </div>

<div>
    <img class="invisible" src="" alt="image" />
</div>

<div>
    <h2>Outer Source Form (Back)</h2>
        <form action="/assignment_4/outer_source" method="post">
            <input type="number" name="id" placeholder="Insert ID (1-12)" max="12" min="0"  required>
            <input type="submit">
        </form>
</div>

<div>
    {% if user_from_api %}
    <img src={{user_from_api["avatar"]}} alt="image" />
    {% endif %}
</div>

    <div>
        <h1 id="welcome">Employees</h1>
        <p>{% for emp in employees %}
        <div class="container">
            {# {{ emp }}#}
            <h2>{{ emp.name }}</h2>
            <h4>Email: {{ emp.email }}</h4>
            <h3>nickname: {{ emp.nickname }}</h3>
            <div class="updateButton">
                <form action="/assignment_4/deleteEmp" method="post">
                <input type="hidden" name="email" value={{emp.email}}>
                <input  type="submit" value="delete">
            </form>
            <form action="/assignment_4/updateEmp2" method="post" >
                <input type="hidden" name="email" value={{emp.email}}>
                <input type="hidden" name="name" value={{emp.name}}>
                <input type="submit" value="update">
            </form>
            </div>

        </div>
            {% endfor %}
        </p>
    </div>
</div>

{% endblock %}
